<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>calculadora</title>
</head>
<body>
    <h1>Bem vindo a Calculadora</h1>

    <h2> Você fez o login certo </h2>

    <h3>Somar</h3>

    <form action="/somar" method="post">
         <input type="number" name="n1" placeholder="Número1"><br>
         <input type="number" name="n2" placeholder="Número2"><br>
<br>
         <button type="submit">Somar</button>
    </form>

    <hr>

    <h3>Subtrair</h3>

    <form action="/subtrair" method="post">
         <input type="number" name="n1" placeholder="Número1"><br>
         <input type="number" name="n2" placeholder="Número2"><br>
<br>
         <button type="submit">Subtrairr</button>
    </form>

<HR>

    <h3>Multiplicar</h3>

    <form action="/multiplicar" method="post">
         <input type="number" name="n1" placeholder="Número1"><br>
         <input type="number" name="n2" placeholder="Número2"><br>
         <br>

         <button type="submit">Multiplicar</button>
    </form>

<hr>

    <h3>Dividir</h3>

    <form action="/dividir" method="post">
     <br>
         <input type="number" name="n1" placeholder="Número1"><br>
         <input type="number" name="n2" placeholder="Número2"><br>
         <br>
         <button type="submit">Dividir</button>
    </form>







    <a href="/logout">Sair</a>
</body>
</html>