<!DOCTYPE html>
<html>
    <head>
        <title>Calculadora</title>
    </head>
    <body>
        <h1>Calculadora</h1>
        <form action="/somar" method="post">
            <input type="number" name="n1" placeholder="Digite o número">Primeiro número</input>
            <input type="number" name="n2" placeholder=""Digite o segundo número">Segundo número</input><br>
            <button type="submit">Somar</button>
        </form> 
        <hr>
         <form action="/subtrair" method="post">
            <input type="number" name="n1" placeholder="Digite o número">Primeiro número</input>
            <input type="number" name="n2" placeholder=""Digite o segundo número">Segundo número</input><br>
            <button type="submit">Subtrair</button>
        </form> 
        <hr>
         <form action="/multiplicar" method="post">
            <input type="number" name="n1" placeholder="Digite o número">Primeiro número</input>
            <input type="number" name="n2" placeholder=""Digite o segundo número">Segundo número</input><br>
            <button type="submit">Multiplicar</button>
        </form> 
        <hr>
         <form action="/dividir" method="post">
            <input type="number" name="n1" placeholder="Digite o número">Primeiro número</input>
            <input type="number" name="n2" placeholder=""Digite o segundo número">Segundo número</input><br>
            <button type="submit">Dividir</button>
        </form> 


      




    </body>
</html>